#contact{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0, 0.5),transparent),url(asset/image/contact-mountain.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper{
    background: rgba(19,28,39,0.8);
    width: 60%;
    color: white;
    border-radius: 20px;
}

.form-head{
    text-align: center;
    padding: 4rem;
}

.name-form,
.email-form{
    padding: 3rem;
    text-align: center;
}


.form-wrapper label{
    margin: 0rem 3rem;
}

.form-wrapper button{
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-wrapper input{
    padding: 1rem 3rem;
}

footer{
    color: white;
    background: rgba(19,28,39,1);
    text-align: center;
    
}

.footer-wrapper{
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
}

footer h5{
    flex: 1 1 40rem;
    padding-bottom: 3rem;

}

footer ul{
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
}