section#benefits
    header.benefits-head
        h2 The Perfect Travel
        h3 We cover everything for picking the perfect hotel <br> to flight and destination
    .cards
        .card
            .card-icon
                i.icon__route-solid
            h4 Travel
            p Travel in over 250 countries with no effort.
        .card
            .card-icon
                i.icon__bed-solid
            h4 Hotel
            p Hotels located near popular areas.
        .card
            .card-icon
                i.icon__plane-departure-solid
            h4 Fly
            p Flight included in every purchased trip