section#locations
    header.locations-head
        h2 The perfect Travelling Experience
        h3 We cover everything from picking the perfect hotel<br>flight and travelling destination
        |
        |
        img(src="/asset/image/cloud.png").moving-cloud-1.cloud 
        img(src="/asset/image/cloud.png").moving-cloud-2.cloud
           