$icomoon-font-family: "travel" !default;
$icomoon-font-path: "asset/font" !default;

$icon__bed-solid: "\e900";
$icon__instagram: "\e901";
$icon__plane-departure-solid: "\e902";
$icon__route-solid: "\e903";
$icon__twitter: "\e904";
$icon__youtube: "\e905";

