header.main-head
    nav
        h1.logo Travelly
        ul
            li
                a(href="#locations") Locations
            li
                a(href="#benefits") Benefits
            li
                a(href="#contact") Contact
section.hero
    h2 Travel Beyond Limits.
    h3 Start your travel at an affordable price with Travelly <br>Contact us now bellow.
    button Book Now