doctype html
html
    head
        title Travelly | Travelling Agency
        link(rel="icon", href="asset/image/plane.svg")
        link(rel="stylesheet", href="style.css")
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        script(src="asset/js/my-nice-script.js")
        .content    
            include _component/first-page/first-page
            include _component/city-page/city-page
            include _component/benefits-page/benefits-page
            include _component/contact-page/contact-page